# joblib
numpy==1.24.4
opencv-python-headless==4.8.1.78
# torch==1.13.1
# torchvision==0.14.1
hydra-core
hydra-colorlog
click==8.1.7
matplotlib
pandas
# torchmetrics==1.2.0
scikit-image==0.21.0
carla==0.9.14
tqdm
pandas
rich

pyarrow
## optional for telegram integration
#python-telegram-bot

## optional, for rendering pointclouds
# open3d
# jupyter

## optional, for tracking
# filterpy
# scipy
